*{
    padding: 0px;
    margin: 0px;
}
body {
    color: $color-blue;
    font-size: 14pt;
    font-family: 'OpenSans-Regular';
}
h1 {
   font-size: 62pt / 1em; 
}
h2 {
    font-size: 52pt / 1em; 
}
h3 {
    font-size: 42pt / 1em; 
}
h4 {
    font-size: 32pt / 1em; 
}
h5 {
    font-size: 24pt / 1em; 
}
.text{
    font-size: 24pt / 1em;
}