
#home2{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(198, 255, 123);
}
#home3{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(136, 255, 249);
}
#home4{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(136, 197, 255);
}
#home5{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(138, 136, 255);
}
#home6{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(227, 136, 255);
}
#home7{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(255, 136, 156);
}