
#home3{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(136, 255, 249);
}
#home5{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(136, 197, 255);
}
#home7{
    height: 100vh;
    width: calc(100vw - 330px);
    background-color: rgb(255, 136, 156);
}