@media screen and (max-width: 1250px) {
    #section-4-education{
        .section-4-record{
            .section-4-description-left{
                &:hover{
                    transform: none;
                }
            }
            .section-4-description-right{
                &:hover{
                    transform: none;
                }
            }
        } 
    }
}
@media screen and (max-width: 1000px){
    #section-2-wrap-about-me{
        .section-2-contaier-about-me{
            flex-direction: column;
            .section-2-photo{
                padding: 0px;
            }
            .section-2-text{
                width: 100%;
                margin: 10px;
                p{
                    margin: 10px auto 0px;
                }
                h1, h3, p{
                    text-align: center;
                }
            }
        }
    }
    #section-3-skills{
        .skills-container{
            flex-direction: column;
            .additional-skills-container{
                width: 95%;
                margin-bottom: 50px
            }
            .professional-skills-container{
                width: 95%;
            }
        }
    }
}

@media screen and (max-width: 850px){
    .app{
        .menu-app-wrap{
            width: 100%;
            position: fixed;
            top: 0px;
            z-index: 4;
            height: 48px;
            .menu-logo-wrap{
                flex-direction: row;
                justify-content: flex-start;
                flex: 0;
                height: 38px;
                min-height: 38px;
                .menu-logo{
                    width: 38px;
                    height: 38px;
                    background-size: contain;
                    margin-top: 5px; 
                    margin-left: 20px;
                }
                .menu-text-a{
                    margin-left: 15px;
                    margin-bottom: 7px;
                }   
            }
            .menu_items{
                display: none;
            }
            .menu_btn{
                position: absolute;
                width: 38px;
                height: 38px;
                top: 5px;
                right: 10px;
            }
            .menu-btn-open-to-close{
                cursor: pointer;
                span{
                    display: block;
                    position: absolute;
                    top: 50%;
                    height: 4px;
                    width: 100%;
                    border-radius: 2px;
                    transition: 0.2s all ease;
                    background-color: $color-white;
                    transform: translateY(-2px);
                    &:before{
                        content: "";
                        display: block;
                        height: 4px;
                        position: absolute;
                        top: -12px;
                        width: 100%;
                        border-radius: 2px;
                        transition: 0.2s all ease;
                        background-color: $color-white;
                    }
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        top: 12px;
                        height: 4px;
                        width: 100%;
                        border-radius: 2px;
                        transition: 0.2s all ease;
                        background-color: $color-white;
                    }
                }
                &:hover{
                    span{
                        background-color: $color-green;
                        transform: rotate(-90deg);
                        &:before{
                            width: 45%;
                            transform-origin: right;
                            border-radius: 0px 2px 2px 0px;
                            transform: rotate(-40deg);
                            background-color: $color-green;
                        }
                        &:after{
                            width: 45%;
                            transform-origin: right;
                            border-radius: 0px 2px 2px 0px;
                            transform: rotate(40deg);
                            background-color: $color-green;
                        }
                    }
                }
            }
            .menu-btn-close-to-open{
                cursor: pointer;
                span{
                    display: block;
                    position: absolute;
                    top: 50%;
                    height: 0px;
                    width: 100%;
                    transition: 0.2s all ease;
                    transform: translateY(-2px);
                    &:before{
                        content: "";
                        display: block;
                        position: absolute;
                        height: 4px;
                        width: 100%;
                        border-radius: 2px;
                        background-color: $color-white;
                        transition: 0.2s all ease;
                        transform: rotate(-45deg);
                    }
                    &:after{
                        content: "";
                        display: block;
                        position: absolute;
                        height: 4px;
                        width: 100%;
                        border-radius: 2px;
                        transition: 0.2s all ease;
                        background-color: $color-white;
                        transform: rotate(45deg);
                    }
                }
                &:hover{
                    span{
                        height: 4px;
                        transform: rotate(90deg);
                        border-radius: 2px;
                        background-color: $color-green;
                        &:before{
                            width: 45%;
                            top: -4px;
                            background-color: $color-green;
                        }
                        &:after{
                            width: 45%;
                            top: 4px;
                            background-color: $color-green;
                        }
                    }
                }
            }
        }
        .content-app-wrap{
            width: 100%;
            float: none;
        }
        .menu_footer{
            display: none;
        }
    }
    #section-7-contact-us-container{
        h1, h3{
            text-align: center;
        }
        h3{
            margin: 0px;
        }
        .content-container{
            flex-direction: column-reverse;
            margin: 0 auto;
            .content-container-contact-address{
                width: 100%;

            }
            .content-container-form-send{
                width: 100%;
                button{
                    margin: 0px auto 20px;
                }
                .form-send-input{
                    width: 100%;
                }
                .form-send-textarea{
                    width: 100%;
                }
            }
        }
    }
}
